@font-face {
    font-family: santa;
    src: url(./NeueHaasDisplayMediu.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "santa";
    
}

.first-page{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
    box-sizing: border-box;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding: 30px;
    background-color: #EFEAE3;
}

.nav-side{
    display: flex;
    gap: 10px;
}

.nav-side h4{
    border: 1px solid rgb(148, 139, 139);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

.nav-side h4 a{
    text-decoration: none;
    color: rgb(93, 89, 89);
    z-index: 10;
    position: relative;
    transition: all .2s;
}

.nav-side h4:hover a{
    color: white;
}

.nav-side h4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    bottom:-100%;
    transition: all ease .3s;
}

.nav-side h4:hover::after{
    bottom: 0;
}

.center{
    display: flex;
    height: 90vh;
    padding-top: 100px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.left h3{
    width: 30vw;
    font-size: 2vw;
    font-weight: 800;
    line-height: 2vw;
}


.right h1{
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 8vw;
    text-align: right;
    
}

.first-page video{
    width: 100%;
    border-radius: 15px;
    z-index: 10;
    position: relative;
}

.hero-shape{
    width: 40vw;
    height: 40vh;
    
    position: absolute;
    right: 100px;
    top: 85vh;
}

.one-an{
    background-color: #FF320C;
    border-radius: 45%;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(20px);
    animation: moveThree;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
.two-an{
    background-color: #FF320C;
    border-radius: 45%;
    height: 30vw;
    width: 35vw;
    position: absolute;
    filter: blur(30px);
    animation-name: moveTwo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
.three-an{
    background-color: #FF320C;
    border-radius: 45%;
    height: 30vw;
    width: 30vw;
    position: absolute;
    filter: blur(40px);
    animation: moveOne;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes moveOne {
    from{
        transform: translate(-50%, -3%);
    }
    to{
        transform: translate(0%, 10%);
    }
}

@keyframes moveTwo {
    from{
        transform: translate(-5%, -5%);
    }
    to{
        transform: translate(40%, 60%);
    }
}

@keyframes moveThree {
    from{
        transform: translate(-10%, -20%);
    }
    to{
        transform: translate(30%, 20%);
    }
}




.move h1{
    font-size: 9vw;
}

#circle{
    width: 40px;
    height: 40px;
    background-color: #FF320C;
    border-radius: 50%;
    filter: blur(5px);
}

.move-main{
    display: flex;
    white-space: nowrap;
    z-index: 10;
    position: relative;
    gap: 30px;
    overflow-x: auto;
    margin-top: 100px;
    background-color: #EFEAE3;
    
}

.move-main::-webkit-scrollbar{
    display: none;
}

.move{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation-name: moveRight;
    animation-iteration-count: infinite;
    animation-delay: .3s;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction:normal;

}

@keyframes moveRight {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.second-page{
    min-height: 100vh;
    width: 100%;
    background-color: black;
}
